
.center{
    display: flex;
    justify-content: center;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.end{
    display: flex;
    justify-content: end;
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

