.box{
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink #small{
    flex-shrink: 2;
}