/* listar livros */
.header {
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.header > img{
    width:125px;

}

.thead{
    font-size: 15px;
}

.book_canva{
    width: 125px;
    height: 100px;
}

.book {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    padding: 10px;
    gap: 50px;
}

.book_canva > img{
    width: 100%;
    height: 100%;
}

.book_title {
    font-size: 15px;
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: center;
}

.book_autor{
    font-size: 15px;
}