.box_model {
    margin: 20px;
    padding: 15px 10px;
    border: 10px solid #055;
    border-radius: 160px;
    background-color: yellow;
    color: rgb(5, 193, 218);
    width: 275px;
    height: 40px;
    font-style:initial;
}