
.box{
    width: 50px;
    height: 50px;
    border: 1px solid #0cf504;
}

.center1{
    display: flex;
    justify-content: center;
}

.align-center{
    display:flex;
    align-items: center;
    height: 200px;
    border: 1px solid #000;

}

.flex-end{
    display:flex;
    align-items: flex-end;
    height: 200px;
    border: 1px solid #000;
}

.stretch{
    display:flex;
    align-items: stretch;
    height: 200px;
    border: 1px solid #000;
}

.stretch .box{
    height: auto;
}
