.RGB {
    color: rgb(46,139,87);
    font-family: 'Courier New', Courier, monospace;
}

.RGB_2 {
    color: rgb(128,0,128);
    font-style: initial;
}

/*a opacidade entre 0 e 1,0 para transparente e 1 para opaco*/
.RGBA {
    color: rgb(46,139,87,0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.RGBA_2 {
    color: rgb(128,0,128,0.2);
    font-variant: small-caps;
}