.box{
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.shorthand{
    display: flex;

}

.shorthand .box{
    width: auto;
    flex:1 1 50px;
}

.shorthand .dif{
    flex: 3 1 400px
}