
body {
    background-image: url(../imagens/fundo.avif);
    background-size: cover;

}
.header{
    color: rgb(4, 134, 4);
    font-family: 'Courier New', Courier, monospace;
}

.header_b{
    text-align: center;

}

.header_l{
    color: rgb(4, 134, 4);
    text-align: center;
}

.header_c{
    color: rgb(4, 134, 4);
    text-align: center;
}

.git {
    text-align: center;
}

.c_livros {
    text-align: center;
    background-color: #8ae7a9;
    width: 300px;
    height: 280px;
    border: 1px solid #000;
    border-radius: 20px;
}

footer{
    margin-top: 200px;
    border:  solid #000;
    padding: 20px;
    height: 200px;
    width: auto;
}

.home_l, .home_c {
    height:105px;
    width:121px;
    
}

.cadastrar_livros_l, .cadastrar_livros_b {
    height: 105px;
    width:128px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 100px;
}

.listar_livros_c, .listar_livros_b {
    max-width: 105px;
    max-height:121px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 40px;
}

.c_livros {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.icone_l {
    display: flex;
}

.icone_b{
    display: flex;
}   

.icone_c {
    display: flex;
}

.enviar{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px, 20px;
    background-color: rgb(2, 104, 2);
    color:rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
}
