
body {
    background-image: url(../imagens/fundo.avif);
    background-size: cover;

}
.header{
    font-family: 'Courier New', Courier, monospace;
}

.header_b{
    color: rgb(4, 134, 4);
    text-align: center;
}

.header_l{
    color: rgb(4, 134, 4);
    text-align: center;
}

.header_c{
    color: rgb(4, 134, 4);
    text-align: center;
}

.git {
    text-align: center;
}

footer{
    margin-top: 80px;
    padding: 20px;
    height: 100px;
    width: auto;
    display: flex;
    text-align: center;
}

.home{
    width: 450px;
    height: 100px;
    border: 1px solid #000;
    background-color: #21b954;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.home1{
    text-align: center;
    color: #000;
    font-size: 30px;
    text-decoration: none;
}

.cadastrar{
    width: 450px;
    height: 100px;
    border: 1px solid #000;
    background-color: #21b954;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.cadastrar1{
    text-align: center;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.lista{
    text-align: center;
    width: 450px;
    height: 100px;
    border: 1px solid #000000;
    background-color: #21b954;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.lista1{
    text-align: center;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.c_livros {
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    background-color: #8ae7a9;
    width: 300px;
    height: 280px;
    border: 1px solid #000;
    border-radius: 20px;
}


.c_livros {
    font-size: 10px;
}


.enviar{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 150px;
    height: 30px;
    background-color: rgb(2, 104, 2);
    color:rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #000;
    border-radius: 30px;
}

.tbody{
    width: 100px;
    height: 100px;
}

.titulo_i {
    text-align: center;
    border-radius: 20px;
}

.autor_i {
    text-align: center;
    border-radius: 20px;
}