

body{
    background-color: rgba(103, 207, 42, 0.467);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    width: 1286px;
    height: 100px;
    border: 1px solid #000;
    background-color: #fff;
}

header > .form{
    font-family: sans-serif;
    margin-top: 55px;
    color: rgb(62, 189, 62);
    text-align: center;
}

main{
    width: 1286px;
    height: 700px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #000;
    background-color: #fff;
    border-bottom: none;
}

main > .titulo{
    font-family:serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px ;

}

main > .titulo_i{
    box-shadow: none;
    outline: none;
    padding-top: 15px;
    font-size: 15px;
    border-top: none;
    border-left:none;
    border-right:none;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 30px ;
    
}

main > .estado {
    font-family:serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin-left: 30px ;
}

main > .estado_i{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: 30px;
    background-color: #fff;
    font-size: 15px;
    padding: 5px;
}

main > .descricao{
    font-family:serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 30px;
}

main > .descricao_i{
    outline: none;
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 30px;
}


main > .genero{
    font-family:serif;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
}

main > .generos{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
}

main > .preco{
    font-family:serif;
    font-size: 17px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

input[type=number] {
    -moz-appearance: textfield;
}


main > .preco_i{
    outline: none;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: none;
    border-left:none;
    border-right:none;
    padding: 5px;
    font-size: 15px;
}

main > .imagem{
    font-family:serif;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 30px;
}

main > .imagem_i{
    margin-left: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1286px;
    height: 100px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #000;
    background-color: #fff;
}


footer > .publicar{
    font-family: sans-serif;
    margin-top: 20px;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background-color: rgb(62, 189, 62);
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}

footer > .publicar:hover{
    background-color: #fff;
    border: rgb(62, 189, 62);
    color: rgb(62, 189, 62);
}