

body{
    background-color: rgba(103, 207, 42, 0.467);
}

header{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    width: 1286px;
    height: 100px;
    border: 1px solid #000;
    background-color: #fff;
}

header > .form{
    margin-top: 55px;
    color: rgb(0, 92, 104);
    text-align: center;
}

main{
    width: 1286px;
    height: 600px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #000;
    background-color: white;
}

main > .titulo{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px ;

}

main > .titulo_i{
    padding-top: 15px;
    font-size: 15px;
    border-top: none;
    border-left:none;
    border-right:none;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 30px ;
    
}

main > .estado {
    font-size: 17px;
    margin-left: 30px ;
}

main > .estado_i{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: 30px;
    background-color: #fff;
    font-size: 15px;
    padding: 5px;
}

main > .descricao{
    margin-top: 30px;
    margin-left: 30px;
}

main > .descricao_i{
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 30px;
}


main > .genero{
    margin-top: 30px;
    margin-left: 30px;
}

main > .generos{
    margin-top: 10px;
}
footer{
    width: 1286px;
    height: 100px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #000;
    background-color: white;
}

footer > .publicar{

}

footer > .reset{

}